h1 {
    margin-bottom: 32px;
} 

h2 {
    margin-bottom: 32px;
} 

table {
    width: calc(100% - 32px);
    margin: 16px;
}

th {
    font-size: medium;
    color: darkmagenta;
}

button {
    margin-top: 64px;
    min-width: 300px;
}

