<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <mat-list>
      <mat-list-item> 
        <button mat-button color="primary" routerLink='/alumnos/nuevo'>Nuevo alumno</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" routerLink='/alumnos/listado'>Alumnos</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" routerLink='/cursos/nuevo'>Nuevo Curso</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" routerLink='/cursos/listado'>Cursos</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button color="primary" routerLink='/usuarios/nuevo'>Nuevo Usuario</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button color="primary" routerLink='/usuarios/listado'>Usuarios</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button color="primary" (click)="logout()" routerLink='/'> Salir <mat-icon>logout</mat-icon>
        </button>
      </mat-list-item>
      
      <mat-slide-toggle style="margin-top: 100px" [checked]="admin"  (change)="logAdmin()">Admin</mat-slide-toggle>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 
